<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XMapWSBinding" maxReceivedMessageSize="2147483647">
                  <security mode="Transport">
                    <transport clientCredentialType="Basic" />
                  </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api-eu-test.cloud.ptvgroup.com/xmap/ws/XMap"
                binding="basicHttpBinding" bindingConfiguration="XMapWSBinding"
                contract="XMapServiceReference.XMapWS" name="XMapWSPort" />
        </client>
    </system.serviceModel>
</configuration>